
        /* ヘッダーのスタイル */
        header {
            background-color: white;
            padding: 20px;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* タイトルのスタイル */
        .title {
            font-size: 45px;
            font-weight: bold;
        }

        /* リンクリストのスタイル */
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 60px;
        }

        nav ul li {
            display: inline;
        }

        nav ul li a {
            color: black;
            text-decoration: none;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        /* ボディ全体の背景画像 */
body {
    background-image: url('../img/headbody.jpg'); /* ボディの背景画像を指定 */
    height: 10vh;
    background-size: cover; /* 背景画像を全面に表示 */
    
    margin: 0;
    padding: 0;
}
/* ヘッダーのスタイル */
header {
    background-image: url('../img/headbody.jpg'); /* ヘッダーの背景画像を指定 */
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px; /* ヘッダーの高さを指定 */
    color: black;
    text-align: center;
    padding-top: 0px;
    font-size: 24px;
    font-weight: bold;
}

#Unlimited{
    font-size: 70px; /* フォントサイズを大きく設定 */
    font-weight: bold;
    text-align: center; /* テキストを中央に配置 */
    margin: 0px 0; /* 上下に余白を追加 */
    margin-bottom: 5px; /* 各セクションの下に20pxのスペースを追加 */

}

#learning{
    font-size: 70px; /* フォントサイズを大きく設定 */
    text-align: center; /* テキストを中央に配置 */
    margin: 0px 0; /* 上下に余白を追加 */
    margin-bottom: 500px; /* 各セクションの下に20pxのスペースを追加 */
}

#philosophy{
    font-size: 30px; /* フォントサイズを大きく設定 */
    background-color: whitesmoke;
    text-align: left; /* テキストを中央に配置 */
    margin: 0px 0; /* 上下に余白を追加 */
    padding-left: 50px; /* 左側に30pxの内側余白を追加 */
}

#imhere{
    font-size: 80px; /* フォントサイズを大きく設定 */
    background-color: whitesmoke;
    text-align: left; /* テキストを中央に配置 */
    margin: 0px 0; /* 上下に余白を追加 */
    padding-left: 50px; /* 左側に30pxの内側余白を追加 */
}

#movies{
    font-size: 50px; /* フォントサイズを大きく設定 */
    text-align: right; /* テキストを中央に配置 */
    margin: 0px 0; /* 上下に余白を追加 */
    padding-right: 50px; /* 左側に30pxの内側余白を追加 */
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 120px;
    font-size: 40px;
}